@font-face {
    font-family: "montserrat-r";
    src: url(/assets/font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "montserrat-b";
    src: url(/assets/font/Montserrat-Bold.ttf);
}
body, html{
    width: 1440px;
    height: 1024px;
    margin: 0;
    padding: 0;
    height: 100%;
}
.main{
    width: 1440px;
    height: 1024px;
    position: relative;
    background-color: #080C15;
}
.hambig{
    position: absolute;
    margin-left: 550px;
}
.hamini{
    position: absolute;
    margin-top: 450px;
    margin-left: 150px;
}
.rect1{
    position: absolute;
    margin-top: 850px;
    margin-left: 150px;
}
.rect2{
    position: absolute;
    margin-top: 850px;
    margin-left: 520px;
}
.rect3{
    position: absolute;
    margin-top: 850px;
    margin-left: 890px;
}
.txt1{
    position: absolute;
    font-size: 64px;
    font-family: "montserrat-b";
    color: white;
    margin-left: 150px;
    margin-top: 180px ;
}
.txt2{
    position: absolute;
    font-size: 24px;
    font-family: "montserrat-r";
    color: white;
    margin-left: 150px;
    margin-top: 600px ;
}
.rectred{
    position: absolute;
    width: 280px;
    height: 66px;
    background-color: #c91b1b;
    border-radius: 40px;
    margin-top: 700px;
    margin-left: 150px;
}
.txt3{
    position: absolute;
    font-size: 22px;
    font-family: "montserrat-r";
    color: white;
    margin-left: 191px;
    margin-top: 720px ;
}
.txt4{
    position: absolute;
    font-size: 24px;
    font-family: "montserrat-r";
    color: white;
    margin-left: 191px;
    margin-top: 890px ;
}